body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizelegibility;
  font-family: "Roboto Condensed", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  color: #868686;
}
